.profile-head {
    transform: translateY(3rem)
}

.cover {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat
}

img {
    transition: transform 0.25s ease;
}

img:hover {
    -webkit-transform: scale(0.5);
    /* or some other value */
    transform: scale(1.1);
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.divB{
    max-width: 300px !important;
    border: none !important;
    border-radius: 10px !important;
    font-family: 'Poppins', sans-serif !important;
}

.usersFoto {
    border: none;
    margin-right: -15px;
}

.text-success {
    background-color: #D7FCDD;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 18px;
    border-radius: 20px 0px 0px 20px;


}

.alertt {
    border: 2px dotted #dea4a4;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 18px;
    border-radius: 20px;
    display: inline;

}

.parag {
    font-size: 14px;
    color: #91a2c2 !important
}

.btnBir {
    border-radius: 22px;
    border: none;
    height: 40px;
    width: 100%
}


.btn span {
    font-size: 14px;
    font-weight: 500
}

.btn-dark span {
    color: #E0DFE7
}

.btn.info {
    background: #E4E4E4
}

.btn.info span {
    color: #26252B !important
}

.btn.info:hover {
    background: #CDCED0 !important
}

.a {
    text-align: center;
    line-height: 3;
    display: flex;
    justify-content: center
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {

    font-family: 'Poppins', sans-serif
}

.spanForFriendButton{
    float: right; 
    margin-top:2px;
}

.photoView1{
    height: 200px;
}

.friendsView{
    height: 430px;
    width:100%
}

.text-black{
    max-width: 80rem; 
    height:7rem; 
    background-color:#F9FFF9; 
    border-radius: 0.75rem;
}

.forPostInfo{
    text-align: center;
}

.locationLink{
    color:blue;
}

.eventDesc{
    height:80px;
}

#sss{
    max-width: 78rem; 
    height:12rem; 
    background-color:#0d5421; 
    border-radius: 20px;
}

